.flat-card {
  width: 28%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  margin: 15px 10px;
  border-radius: 5px;
}

.flat-card h3 {
  font-size: 24px;

}

.card-links{
  display: flex;
  background-color: #FFB238;
  border-radius: 5%;
  padding: 10px 10px;
  justify-content: space-around;
}

.card-links a {
  color: #F55536;
  background-color: white;
  padding: 4px 25px;
  border-radius: 20px;
  text-decoration: none;
}

.card-links a:hover {
  color: #F55536;
  text-decoration: none;
}

.card-icons{
  display: flex;
  /* justify-content: space-around; */
}
.card-icons i{
  padding-left: 30px;
}
.flats-display {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.flat-card img {
  border-radius: 5px;
  width: 100%;
}

.nav-bar {
  background-color: #FFB238;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.nav-bar a {
  color: #F55536;
  background-color: white;
  padding: 4px 25px;
  border-radius: 20px;
  text-decoration: none;
}
.nav-bar a:hover {
  color: #F55536;
  text-decoration: none;
}
.form {
  margin: 30px auto;
  width: 50%;
  height: 80%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  padding: 20px 20px;
  border-radius: 5px;
}


.form-input-together {
  display: flex;
  justify-content: space-around;
}

.img-banner {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.show-box {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  background-color: #F55536;
  width: 60%;
  border-radius: 5px;
  margin: 30px auto;
  color: #FFFFFF;
  padding: 20px 20px;
}

.title {
  margin-left: 7%;
  color: #F55536;
  font-weight: bold;
}

.flat-details {
  display: flex;
}

.flat-details i {
  padding-left: 20px;
}
